# Gradle & Kotlin
.gradle/
.kotlin/
build/
app/build/

# Local configuration file (contains SDK path, keystore password, etc.)
local.properties

# Android Studio / IntelliJ IDEA
.idea/
*.iml
.navigation/

# Android Keystore and Build Artifacts
*.jks
*.keystore
*.apk
*.aab

# OS specific
.DS_Store
Thumbs.db
